
*.dll
*.xml
Sklep/CzyNumer/bin/Debug/Sklep.exe
Sklep/CzyNumer/bin/Debug/Sklep.exe.config
Sklep/CzyNumer/bin/Debug/Sklep.pdb
Sklep/CzyNumer/bin/Debug/CzyNumer.pdb
Sklep/CzyNumer/obj/Debug/CzyNumer.csproj.CopyComplete
Sklep/CzyNumer/obj/Debug/CzyNumer.csproj.FileListAbsolute.txt
Sklep/CzyNumer/obj/Debug/CzyNumer.csproj.CoreCompileInputs.cache
Sklep/CzyNumer/obj/Debug/CzyNumer.csprojAssemblyReference.cache
Sklep/CzyNumer/obj/Debug/CzyNumer.pdb
Sklep/CzyNumer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sklep/Sklep/bin/Debug/Sklep.exe
Sklep/Sklep/bin/Debug/Sklep.exe.config
Sklep/Sklep/bin/Debug/Sklep.pdb
Sklep/Sklep/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Sklep/Sklep/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sklep/Sklep/obj/Debug/Sklep.csproj.CoreCompileInputs.cache
Sklep/Sklep/obj/Debug/Sklep.csproj.FileListAbsolute.txt
Sklep/Sklep/obj/Debug/Sklep.csproj.GenerateResource.cache
Sklep/Sklep/obj/Debug/Sklep.csprojAssemblyReference.cache
Sklep/Sklep/obj/Debug/Sklep.CzesciOk.resources
Sklep/Sklep/obj/Debug/Sklep.exe
Sklep/Sklep/obj/Debug/Sklep.Form1.resources
Sklep/Sklep/obj/Debug/Sklep.KlienciOk.resources
Sklep/Sklep/obj/Debug/Sklep.Logowanie.resources
Sklep/Sklep/obj/Debug/Sklep.pdb
Sklep/Sklep/obj/Debug/Sklep.RapOk.resources
Sklep/Sklep/obj/Debug/Sklep.Properties.Resources.resources
Sklep/Sklep/obj/Debug/Sklep.SprzedOk.resources
Sklep/Sklep/obj/Debug/Sklep.SzukajCzesci.resources
Sklep/Sklep/obj/Debug/Sklep.SzukajKlient.resources
Sklep/SprawdzDostepnosc/bin/Debug/Sklep.exe
Sklep/SprawdzDostepnosc/bin/Debug/Sklep.exe.config
Sklep/SprawdzDostepnosc/bin/Debug/Sklep.pdb
Sklep/SprawdzDostepnosc/bin/Debug/SprawdzDostepnosc.pdb
Sklep/SprawdzDostepnosc/obj/Debug/SprawdzDostepnosc.csproj.CopyComplete
Sklep/SprawdzDostepnosc/obj/Debug/SprawdzDostepnosc.pdb
Sklep/SprawdzDostepnosc/obj/Debug/SprawdzDostepnosc.csprojAssemblyReference.cache
Sklep/SprawdzDostepnosc/obj/Debug/SprawdzDostepnosc.csproj.FileListAbsolute.txt
Sklep/SprawdzDostepnosc/obj/Debug/SprawdzDostepnosc.csproj.CoreCompileInputs.cache
Sklep/SprawdzDostepnosc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sklep/UnitTestProject1/obj/Debug/UnitTestProject1.csproj.CoreCompileInputs.cache
Sklep/UnitTestProject1/obj/Debug/UnitTestProject1.csprojAssemblyReference.cache
*.cache
*.targets
*.props
*.nupkg
*.p7s
Sklep/CzyNumer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sklep/CzyNumer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sklep/CzyNumer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Sklep/Sklep/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sklep/Sklep/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sklep/Sklep/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Sklep/SprawdzDostepnosc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sklep/SprawdzDostepnosc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sklep/SprawdzDostepnosc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Sklep/UnitTestProject1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sklep/UnitTestProject1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sklep/UnitTestProject1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.ide-wal
*.ide
*.ide-shm
Sklep/.vs/Sklep/v16/.suo
Sklep/.vs/Sklep/v15/.suo
*.lock
*.datasource
